li.cart-item {
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding: 10px;
  list-style: none;
  border-radius: 10px;
}

li.cart-item .product-info {
  display: flex;
  align-items: center;
}

li.cart-item .product-image img {
  width: 80px;
  height: 80px;
  border: 1px solid #dbdbdb;
  padding: 5px;
  border-radius: 10px;
}

li.cart-item .product-details {
  margin-left: 20px;
}

li.cart-item .product-details p {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

li.cart-item .product-details .brand {
  font-weight: 800;
  color: #333;
  font-size: 16px;
}

li.cart-item .product-details .name {
  font-weight: 400;
  color: #7a7a7a;
  font-size: 14px;
}

li.cart-item .product-details .price {
  font-weight: 800;
  font-size: 18px;
  color: #333;
  margin-top: 15px;
}

li.cart-item .product-count-input button {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  cursor: pointer;
}

li.cart-item .product-count-input input {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  appearance: none;
  text-align: center;
}
