@media (max-width: 768px) {
  li.cart-item {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-left: -20px;
    padding: 10px 0;
    list-style: none;
    border-radius: 10px;
  }

  li.cart-item .product-info {
    display: flex;
    align-items: center;
  }

  li.cart-item .product-image {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--borderLightGray);
    border-radius: 10px;
  }

  li.cart-item .product-image img {
    width: 90%;
    height: 70%;
  }

  li.cart-item .product-details {
    margin-left: 10px;
  }

  li.cart-item .product-details p {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
  }

  li.cart-item .product-details .brand {
    font-weight: 800;
    color: var(--darkGray);
    font-size: 14px;
  }

  li.cart-item .product-details .name {
    font-weight: 400;
    color: var(--lightGray);
    font-size: 12px;
  }

  li.cart-item .product-details .price {
    font-weight: 800;
    font-size: 15px;
    color: var(--darkGray);
    margin-top: 10px;
  }

  li.cart-item .product-count-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
  }

  li.cart-item .product-count-input button.control-btns {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.4s;
  }

  li.cart-item .product-count-input button.control-btns:hover {
    background-color: #f3f3f3;
  }

  li.cart-item .product-count-input input {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    appearance: none;
    text-align: center;
  }

  li.cart-item .remove-item-btn {
    background-color: transparent;
    border: none;
    color: #7a7a7a;
    cursor: pointer;
    margin-top: 15px;
  }
}
@media (min-width: 769px) {
  li.cart-item {
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding: 10px;
    list-style: none;
    border-radius: 10px;
  }

  li.cart-item .product-info {
    display: flex;
    align-items: center;
  }

  li.cart-item .product-image {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    padding: 5px;
    border-radius: 10px;
  }
  li.cart-item .product-image img {
    width: 90%;
    height: 70%;
  }

  li.cart-item .product-details {
    margin-left: 20px;
  }

  li.cart-item .product-details p {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
  }

  li.cart-item .product-details .brand {
    font-weight: 800;
    color: #333;
    font-size: 16px;
  }

  li.cart-item .product-details .name {
    font-weight: 400;
    color: #7a7a7a;
    font-size: 14px;
  }

  li.cart-item .product-details .price {
    font-weight: 800;
    font-size: 18px;
    color: #333;
    margin-top: 15px;
  }

  li.cart-item .product-count-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  li.cart-item .product-count-input button.control-btns {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.4s;
  }

  li.cart-item .product-count-input button.control-btns:hover {
    background-color: #f3f3f3;
  }

  li.cart-item .product-count-input input {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    appearance: none;
    text-align: center;
  }

  li.cart-item .remove-item-btn {
    background-color: transparent;
    border: none;
    color: #7a7a7a;
    cursor: pointer;
    margin-top: 15px;
  }
}
