h2.cart-header {
  font-family: "Roboto";
  font-size: 20px;
  color: #333;
  font-weight: 800;
  padding: 5px 40px;
}
ul.cartList {
  width: 90%;
  max-height: 250px;
  overflow-y: scroll;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 10px;
}

div.prices-details {
  font-family: "Roboto";
  width: 90%;
  padding: 25px;
  border-bottom: 1px solid #dbdbdb;
}

div.prices-details span {
  display: block;
  color: #333;
  padding: 5px 0;
}

div.prices-details span.pricesSpan {
  display: inline-block;
  font-weight: 800;
}

div.total-amount {
  font-family: "Roboto";
  width: 90%;
  padding: 25px;
}

div.total-amount .pricesSpan {
  font-size: 23px;
  font-weight: 800;
  color: #333;
}

div.action {
  width: 96%;
  display: flex;
  justify-content: center;
}

div.action button {
  width: 98%;
  padding: 15px;
  border-radius: 10px;
  background-color: #0044ff;
  border: none;
  color: #fff;
  margin-top: 50px;
  cursor: pointer;
}

div.empty-cart-container {
  font-family: "Roboto";
  color: #333;
  text-align: center;
  padding: 50px 0;
}

div.empty-cart-container h2 {
  font-size: 32px;
  margin-top: -25px;
}

div.empty-cart-container p {
  margin: 0;
  color: #7a7a7a;
}

div.empty-cart-container p:nth-child(1) {
  font-size: 14px;
  margin-top: 25px;
}

div.empty-cart-container img {
  width: 350px;
  height: 350px;
  margin-top: -50px;
}

div.empty-cart-container button {
  width: 200px;
  padding: 10px;
  margin-top: 50px;
  font-family: "Roboto";
  color: #fff;
  background-color: rgb(0, 68, 255);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}
