.filter-bar {
  display: none;
}

.filter-bar-active {
  display: block;
}

@media (max-width: 768px) {
  .control-bar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -20px;
    padding-top: 10px;
  }

  .control-bar button {
    width: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--white);
    border: 1px solid var(--lightGray);
    border-radius: 10px;
    font-family: var(--mainFont);
    font-size: 15px;
    color: var(--darkGray);
    margin-right: 15px;
  }

  .control-bar p {
    font-family: var(--mainFont);
    font-size: 15px;
    color: var(--lightGray);
    margin-left: 15px;
  }

  .filter-bar-active {
    width: 100%;
    min-height: 50px;
    height: 100%;
    padding-top: 20px;
  }

  .filter-bar-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .filter-bar-container select {
    padding: 10px 5px;
    background-color: var(--white);
    border: 1px solid var(--lightGray);
    font-family: var(--mainFont);
    font-size: 15px;
    color: var(--darkGray);
  }

  .filter-bar-container select:nth-child(1) {
    margin-left: 15px;
  }

  .filter-bar-container select:nth-child(3) {
    margin-right: 15px;
  }

  .filter-bar-container .range {
    padding: 10px 5px;
    min-width: 240px;
    background-color: var(--white);
    border: 1px solid var(--lightGray);
    font-family: var(--mainFont);
    font-size: 15px;
    color: var(--darkGray);
    cursor: pointer;
    margin: 15px;
  }

  .filter-bar-container .field {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filter-bar-container .field input {
    height: 2px;
    background-color: var(--lightGray);
    margin: 0 10px;
    appearance: none;
    outline: none;
  }

  .filter-bar-container .field input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: var(--darkGray);
    cursor: pointer;
    border-radius: 50%;
  }

  .filter-bar-container .field .value-right {
    font-weight: 600;
  }
}

@media (min-width: 769px) {
  .control-bar {
    width: 100%;
    min-height: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }

  .control-bar button {
    width: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--white);
    border: 1px solid var(--lightGray);
    border-radius: 10px;
    font-family: var(--mainFont);
    font-size: 15px;
    color: var(--darkGray);
    margin-right: 15px;
    cursor: pointer;
  }

  .control-bar p {
    font-family: var(--mainFont);
    font-size: 15px;
    color: var(--lightGray);
    margin-left: 15px;
  }

  .filter-bar-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .filter-bar-container select {
    padding: 10px 5px;
    background-color: var(--white);
    border: 1px solid var(--lightGray);
    font-family: var(--mainFont);
    font-size: 15px;
    color: var(--darkGray);
    cursor: pointer;
  }

  .filter-bar-container select:nth-child(1) {
    margin-left: 15px;
  }

  .filter-bar-container select:nth-child(3) {
    margin-right: 15px;
  }

  .filter-bar-container .range {
    padding: 10px 5px;
    min-width: 240px;
    background-color: var(--white);
    border: 1px solid var(--lightGray);
    font-family: var(--mainFont);
    font-size: 15px;
    color: var(--darkGray);
    cursor: pointer;
    margin-left: 15px;
  }

  .filter-bar-container .field {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filter-bar-container .field input {
    height: 2px;
    background-color: var(--lightGray);
    margin: 0 10px;
    appearance: none;
    outline: none;
  }

  .filter-bar-container .field input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: var(--darkGray);
    cursor: pointer;
    border-radius: 50%;
  }

  .filter-bar-container .field .value-right {
    font-weight: 600;
  }
}
