div.filter-bar {
  width: 100%;
  height: 75px;
  border-top: 1px solid #dddd;
  border-bottom: 1px solid #dddd;
  background-color: #fff;
  transition: 0.4s;
  margin-top: -20px;
}

div.filter-bar-fixed {
  position: fixed;
  width: 100%;
  height: 75px;
  border-top: 1px solid #dddd;
  border-bottom: 1px solid #dddd;
  background-color: #fff;
  z-index: 11;
  top: 50px;
  left: 0px;
  transition: 0.4s;
}

div.filter-bar .filter-bar-container {
  display: flex;
  align-items: center;
  width: 88%;
  height: 100%;
  margin: 0 auto;
}

div.filter-bar .filter-bar-container .filter-bar-item label {
  font-family: "Roboto";
  font-family: 13px;
  color: #333;
  font-weight: 400;
  margin-right: 10px;
}

div.filter-bar .filter-bar-container .filter-bar-item label span {
  font-weight: 800;
}

div.filter-bar .filter-bar-container select {
  padding: 10px;
  background-color: transparent;
  border: 1px solid #7a7a7a;
  border-radius: 3px;
  cursor: pointer;
  font-family: var(--mainFont);
  color: var(--darkGray);
  font-size: 14px;
}

div.filter-bar .filter-bar-container select:focus {
  background-color: #f0f0f0;
}

div.filter-bar .filter-bar-container option {
  background-color: #fff;
  border: 1px solid #7a7a7a;
  border-radius: 10px;
  cursor: pointer;
}

div.filter-bar .filter-bar-container option:checked,
div.filter-bar .filter-bar-container select:focus option {
  display: block;
}

div.filter-bar .filter-bar-container .option-value::first-letter {
  text-transform: uppercase;
}

div.filter-bar .filter-bar-container div.filter-bar-item {
  display: flex;
  align-items: center;
}

div.filter-bar .filter-bar-container div.filter-bar-item:nth-child(2) {
  margin-left: 25px;
}

div.filter-bar .filter-bar-container input[type="text"] {
  padding: 6px;
  background-color: transparent;
  border: 1px solid #7a7a7a;
  cursor: pointer;
  font-family: "Roboto";
  font-style: 16px;
  color: #131200;
}

div.filter-bar .filter-bar-container input[type="text"]::placeholder {
  color: #131200;
  font-family: "Roboto";
}

div.filter-bar .filter-bar-container input[type="text"]:focus {
  background-color: #f0f0f0;
}

div.filter-bar .filter-bar-container input[type="range"] {
  -webkit-appearance: none;
  height: 2px;
  width: 100px;
  background-color: #7a7a7a;
  margin-left: 10px;
  cursor: pointer;
}

div.filter-bar .filter-bar-container input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #7a7a7a;
}

/* /// */

div.filter-bar-fixed {
  margin-top: 34px;
}

div.filter-bar-fixed .filter-bar-container {
  display: flex;
  align-items: center;
  width: 88%;
  height: 100%;
  margin: 0 auto;
}

div.filter-bar-fixed .filter-bar-container .filter-bar-item label {
  font-family: "Roboto";
  font-family: 13px;
  color: #333;
  font-weight: 400;
  margin-right: 10px;
}

div.filter-bar-fixed .filter-bar-container .filter-bar-item label span {
  font-weight: 800;
}

div.filter-bar-fixed .filter-bar-container select {
  padding: 10px;
  background-color: transparent;
  border: 1px solid #7a7a7a;
  border-radius: 3px;
  cursor: pointer;
}

div.filter-bar-fixed .filter-bar-container select:focus {
  background-color: #f0f0f0;
}

div.filter-bar-fixed .filter-bar-container option {
  background-color: #fff;
  border: 1px solid #7a7a7a;
  border-radius: 10px;
  cursor: pointer;
}

div.filter-bar-fixed .filter-bar-container div.filter-bar-item {
  display: flex;
  align-items: center;
}

div.filter-bar-fixed .filter-bar-container div.filter-bar-item:nth-child(2) {
  margin-left: 25px;
}

div.filter-bar-fixed .filter-bar-container input[type="range"] {
  -webkit-appearance: none;
  height: 2px;
  width: 100px;
  background-color: #7a7a7a;
  margin-left: 10px;
  cursor: pointer;
}

div.filter-bar-fixed
  .filter-bar-container
  input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #7a7a7a;
}

div.filter-bar-fixed .filter-bar-container input[type="text"] {
  padding: 10px 6px;
  background-color: transparent;
  border: 1px solid #7a7a7a;
  cursor: pointer;
  font-family: "Roboto";
  font-style: 16px;
  color: #131200;
  border-radius: 3px;
}

div.filter-bar-fixed .filter-bar-container input[type="text"]::placeholder {
  color: #131200;
  font-family: "Roboto";
}

div.filter-bar-fixed .filter-bar-container input[type="text"]:focus {
  background-color: #f0f0f0;
}
