div.products-header {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  font-size: 32px;
  color: var(--darkGray);
  font-weight: 800;
  margin-top: -10px;
  padding-top: 50px;
}

div.products-header .results-section p {
  font-size: 14px;
  font-weight: 400;
  color: var(--darkGray);
  margin: 0;
}

div.products-header .results-section p.number-of-results {
  margin: -20px 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
