div.products-header {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-size: 32px;
  color: var(--white);
  font-weight: 800;
  margin-top: 50px;
  background-color: var(--black);
}
