@media (max-width: 768px) {
  .header {
    margin-top: -22px;
    width: 100%;
    height: calc(100vh - 50px);
    background-image: url(../../assets/images/header1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .header h1 {
    color: var(--black);
    font-family: var(--mainFont);
    text-transform: uppercase;
    font-weight: 800;
    padding: 80px 30px 0 30px;
  }

  .header h1 span {
    display: block;
  }

  .header h1 span:nth-child(1) {
    position: relative;
    font-size: 64px;
    color: var(--white);
    text-shadow: -1px 0 var(--darkGray), 0 1px var(--darkGray),
      1px 0 var(--darkGray), 0 -1px var(--darkGray);
  }

  .header h1 span:nth-child(2),
  span:nth-child(3) {
    color: var(--darkGray);
    font-size: 48px;
  }

  .header h1 span:nth-child(4) {
    background: -webkit-linear-gradient(
      45deg,
      var(--gradientPink),
      var(--gradientBlue)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 96px;
  }
}

@media (min-width: 769px) {
  .header {
    margin-top: -20px;
    width: 100%;
    height: calc(100vh - 50px);
    background-image: url(../../assets/images/headerPC.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .header h1 {
    color: var(--black);
    font-family: var(--mainFont);
    text-transform: uppercase;
    font-weight: 800;
    padding: 80px 100px 0 100px;
  }

  .header h1 span {
    display: block;
  }

  .header h1 span:nth-child(1) {
    position: relative;
    font-size: 128px;
    color: #f5f6f8;
    text-shadow: -1px 0 var(--darkGray), 0 1px var(--darkGray),
      1px 0 var(--darkGray), 0 -1px var(--darkGray);
  }

  .header h1 span:nth-child(2),
  span:nth-child(3) {
    color: var(--darkGray);
    font-size: 96px;
  }

  .header h1 span:nth-child(4) {
    background: -webkit-linear-gradient(
      45deg,
      var(--gradientPink),
      var(--gradientBlue)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 128px;
  }
}
