@media (max-width: 768px) {
  .header {
    margin-top: -22px;
    width: 100%;
    height: calc(100vh - 50px);
    background-image: url(../../assets/images/header1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .header h1 {
    color: var(--black);
    font-family: var(--mainFont);
    text-transform: uppercase;
    font-weight: 800;
    padding: 80px 30px 0 30px;
  }

  .header h1 span {
    display: block;
  }

  .header h1 span:nth-child(1) {
    font-size: 64px;
    color: var(--white);
    text-shadow: -1px 0 var(--darkGray), 0 1px var(--darkGray),
      1px 0 var(--darkGray), 0 -1px var(--darkGray);
  }

  .header h1 span:nth-child(2),
  span:nth-child(3) {
    color: var(--darkGray);
    font-size: 48px;
  }

  .header h1 span:nth-child(4) {
    background: -webkit-linear-gradient(
      45deg,
      var(--gradientPink),
      var(--gradientBlue)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 96px;
  }
}

@media (min-width: 769px) {
  .header {
    display: flex;
    margin-top: -20px;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #f3ebe8;
  }

  .header aside {
    width: 50%;
    height: 100%;
  }

  .header aside.right {
    position: relative;
  }

  .header aside.left {
    position: relative;
  }

  .header aside.left button {
    position: absolute;
    top: 75%;
    left: 30%;
    transform: translate(-25%, -50%);
    width: 150px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--headerDarkGray);
    text-transform: uppercase;
    color: var(--white);
    font-family: var(--mainFont);
    cursor: pointer;
  }

  .header aside.right img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
  }

  .header aside.right h1 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f3ebe8;
    font-size: 528px;
    font-family: var(--bebasFont);
    margin: 0;
    text-shadow: 1px 0 #bf4d4a, 0 1px #bf4d4a, -1px 0 #bf4d4a, 0 -1px #bf4d4a;
  }

  .header h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--headerDarkGray);
    font-family: var(--bebasFont);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 96px;
    line-height: 85px;
  }

  .header h1 span {
    display: block;
    margin: 0;
  }
}
