@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    height: calc(100vh);
    background-color: #f3ebe8;
  }

  .header aside {
    width: 100%;
    height: 100%;
  }

  .header aside.right {
    display: none;
  }

  .header aside.left {
    position: relative;
    padding-bottom: 50px;
  }

  .header aside.left h1 {
    color: var(--headerDarkGray);
    font-family: var(--bebasFont);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 72px;
    line-height: 85px;
  }

  .header aside.left h1 span {
    display: block;
    margin: 0;
  }

  .header aside.left button {
    width: 200px;
    padding: 15px 5px;
    background-color: var(--headerDarkGray);
    border: none;
    border-radius: 30px;
    font-family: var(--mainFont);
    font-size: 14px;
    color: var(--white);
    font-size: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
  }

  .header aside.left button:hover {
    box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 769px) {
  .header {
    display: flex;
    margin-top: 50px;
    width: 100%;
    height: calc(100vh);
    background-color: #f3ebe8;
  }

  .header aside {
    width: 50%;
    height: 100%;
  }

  .header aside.right {
    position: relative;
  }

  .header aside.left {
    position: relative;
  }

  .header aside.right img {
    position: absolute;
    width: 500px;
    height: 400px;
  }

  .header aside.right h1 {
    position: absolute;
    color: #f3ebe8;
    font-size: 528px;
    font-family: var(--bebasFont);
    margin-top: -75px;
    text-shadow: 1px 0 #bf4d4a, 0 1px #bf4d4a, -1px 0 #bf4d4a, 0 -1px #bf4d4a;
  }

  .header aside.left h1 {
    color: var(--headerDarkGray);
    font-family: var(--bebasFont);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 96px;
    line-height: 85px;
  }

  .header aside.left h1 span {
    display: block;
    margin: 0;
  }

  .header aside.left button {
    width: 150px;
    padding: 10px 5px;
    background-color: var(--headerDarkGray);
    border: none;
    border-radius: 30px;
    font-family: var(--mainFont);
    font-size: 14px;
    color: var(--white);
    font-size: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s;
  }

  .header aside.left button:hover {
    box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.2);
  }
}
