@media (max-width: 768px) {
  .nav {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--lightGray);
  }

  .nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-logo {
    margin-left: 35px;
  }

  .nav-links {
    position: absolute;
    top: 35px;
  }

  .nav-links ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    left: -150%;
    background-color: var(--white);
    list-style: none;
    transition: 0.4s;
  }

  .nav-links-active ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 35px;
    list-style: none;
    transition: 0.4s;
    z-index: 10;
    background-color: var(--white);
  }

  .nav-links ul li {
    width: 100%;
    line-height: 100px;
    padding: 0;
    margin: 0;
  }

  .nav-links ul li a {
    font-family: var(--mainFont);
    color: var(--darkGray);
    text-decoration: none;
  }

  .nav-links ul li a:visited {
    color: var(--darkGray);
  }

  .nav-links-active ul li {
    width: 100%;
    line-height: 100px;
    padding: 0;
    margin: 0;
  }

  .nav-links-active ul li a {
    font-family: var(--mainFont);
    color: var(--darkGray);
    text-decoration: none;
  }

  .nav-links-active ul li a:visited {
    color: var(--darkGray);
  }

  .nav-buttons {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 769px) {
  .nav {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--lightGray);
  }

  .nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-logo {
    margin-left: 35px;
  }

  .nav-buttons {
    margin-right: 35px;
  }

  .nav-links ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
    list-style: none;
  }

  .nav-links ul li a {
    font-family: var(--mainFont);
    color: var(--darkGray);
    text-decoration: none;
    font-size: 14px;
  }

  .nav-links ul li a:visited {
    text-decoration: none;
    color: var(--darkGray);
  }
}
