div.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  margin: 0 auto 25px auto;
  background-color: #fff;
  /* border-bottom: 1px solid #dddd; */
  z-index: 10;
  transition: 0.4s;
}

div.navigation div.navigation-container {
  width: 88%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff; */
}

div.navigation nav ul {
  width: 300px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  /* text-transform: uppercase; */
  font-family: "Roboto";
  font-size: 14px;
  color: #131200;
}

div.navigation nav ul li {
  letter-spacing: 1px;
  cursor: pointer;
  height: 48px;
  /* width: 0px; */
  line-height: 48px;
  transition: 0.4s;
}

div.navigation nav ul li:after {
  display: block;
  content: "";
  border: solid 1px #f87538;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

div.navigation nav ul li .activeLink {
  color: red;
}

div.navigation nav ul li:hover:after {
  transform: scaleX(1);
}

div.navigation nav ul li a {
  text-decoration: none;
  color: #131200;
}
