@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --darkGray: #131200;
  --headerDarkGray: rgb(31, 31, 31);
  --lightGray: #7a7a7a;
  --borderLightGray: #dddd;
  --white: #fff;
  --black: #000;
  --gradientPink: #9c0f48;
  --gradientBlue: #2f86a6;
  --mainFont: "Roboto";
  --bebasFont: "Bebas Neue", cursive;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a.activeLink {
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #242424;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(44, 44, 44);
}

.invalid {
  border: 1px solid crimson;
}

@media (max-width: 768px) {
  .zip-code-correct {
    width: 50px;
    text-align: center;
  }

  .zip-code-invalid {
    width: 50px;
    text-align: center;
    border: 1px solid crimson;
  }

  .address-correct {
    width: 90%;
  }

  .address-invalid {
    width: 90%;
    border: 1px solid crimson;
  }
}

@media (min-width: 769px) {
  .zip-code-correct {
    width: 100px;
    text-align: center;
  }

  .zip-code-invalid {
    width: 100px;
    text-align: center;
    border: 1px solid crimson;
  }

  .address-correct {
    width: 250px;
  }

  .address-invalid {
    width: 250px;
    border: 1px solid crimson;
  }
}
