body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
  background: rgb(227, 244, 243);
  background: linear-gradient(
    111deg,
    rgba(227, 244, 243, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
