div.brands-section {
  width: 100%;
  height: 100%;
  padding: 150px 0 50px 0;
}
p.brands-header {
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 800;
  color: #333;
}

div.brands-images {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
