@media (max-width: 768px) {
  .collections {
    width: 100%;
    min-height: 100vh;
    background-color: var(--white);
    font-family: var(--mainFont);
  }

  .collections h1 {
    color: var(--darkGray);
    font-size: 22px;
  }

  .collections h1 span {
    color: var(--gradientPink);
  }

  .collections p {
    color: var(--lightGray);
    font-size: 14px;
  }

  .collections-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
  }

  .collections-container img {
    width: 46%;
    height: 50%;
    margin: 0 5px;
  }

  .collections-container img:nth-child(even) {
    margin-top: 30px;
  }
}

@media (min-width: 769px) {
  .collections {
    width: 100%;
    min-height: 100vh;
    background-color: var(--white);
    font-family: var(--mainFont);
  }

  .collections h1 {
    color: var(--darkGray);
    font-size: 48px;
  }

  .collections h1 span {
    color: var(--gradientPink);
  }

  .collections p {
    color: var(--lightGray);
    font-size: 14px;
  }

  .collections-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
    padding: 50px 0 150px 0;
  }

  .collections-container img {
    width: 40%;
    height: 40%;
    margin: 0 5px;
  }

  .collections-container img:nth-child(even) {
    margin-top: 30px;
  }
}
