div.collection-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 50px;
}

div.collections h1,
p {
  font-family: "Roboto";
}

div.collections h1 {
  font-weight: 800;
  margin-top: 50px;
  margin-bottom: 0;
  color: #131200;
}

div.collections p {
  margin: 0;
  padding: 0;
  color: #494949;
}

div.collection-container img {
  width: 45%;
  height: 100%;
}

div.collection-container img:nth-child(even) {
  margin-top: 50px;
}
